*{margin:0; padding:0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
li{list-style-type: none;}
img{border: none; vertical-align: top;}
.clearFix::after{content:''; display:block; clear: both;}
body{font-size: 12px; color: black; font-family: 'Pretendard-Regular';}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body{--mainColor : #1842ad;
    --subColor : #7398F6;
    --point : #FFEA2C;
}
header{width:100vw;height: 0px; margin:auto; display: flex; justify-content: space-evenly; padding: 2rem; transition: 0.5s;}
header.hover{ height: 370px; background-color: white;}
.logo{padding-top: 10px;}
.logo>h1{font-size: 0px;}

.lnb{padding-top: 20px;}
.lnb>ul{display: flex; justify-content: center; width: 550px; margin: auto;} 
.lnb>ul>li>a{display:block; width: 120px; height: 40px; font-family: 'Pretendard-Medium'; font-size: 18px; line-height: 40px; margin-right: 40px; transition: 0.3s;}
.subMenu>li>a{display:block; width: 120px; height: 30px; font-family: 'Pretendard-Regular'; font-size: 14px; line-height: 30px; margin-right: 40px; transition: 0.05s;}

.subMenu{display: none; width: 100px;position: relative; transition: 0.05s;}
header:hover .subMenu{display: block;} 
.lnb>ul>li>a:hover {color: var(--mainColor);} 
/* .lnb>ul>li>a:hover{border-bottom: 2px solid var(--mainColor); } */
.subMenu>li>a:hover{color: var(--subColor); font-weight: 600;}
.subMenu:hover{border-top: 2px solid var(--mainColor); }


.lnbBtn{position: relative; width: 40px; height: 40px; padding-top: 80px;}
.lnbCircle{width: 40px; height: 40px; border-radius: 10px; border: 3px solid var(--mainColor); position: absolute; 
    left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);
}
.lnbBar{width: 20px; height: 10px; border-top: 1.5px solid var(--subColor);border-bottom: 1.5px solid var(--subColor); position: absolute;
    left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);
}
/* header ë */



/* .images{width: 100vh; height: 500px; background-color: red;} */

section{width: 100%; margin:auto; position: absolute; top:-40px; left: 50%; transform: translateX(-50%); z-index: -1;}

/* .images{ width: 1500px; height: 1000px; margin:auto;} */
.images>div{
        width: 100%;
        height: 100vh;
        background-repeat : no-repeat;
        background-size : cover;
        position: absolute;
        z-index: -5;
    }
.images>div:nth-child(1){background-image: url(../images/bg01.jpg);}
.images>div:nth-child(2){background-image: url(../images/bg02.jpg);}
.images>div:nth-child(3){background-image: url(../images/bg03.jpg);}
.container{width:1200px; margin:auto; padding-top: 930px; height: 1500px;}
.container>div{padding-top: 150px;}
.container>div:first-child{padding-top: 0px;}
.container>div>h2{color:var(--mainColor); font-size: 20px; padding: 4rem 0;  font-family: 'Pretendard-Bold';}


.business{padding-bottom: 50px;}
.businessImg{display: flex; justify-content: space-between;}
.businessImg>div{width: 300px; position: relative; border-right: 1px solid var(--subColor);}
.businessImg>div:last-child{ border-right:none;}
.businessImg a{width: 300px; height: 390px; opacity: 0;; position: absolute; top:50%; left: 50%; transform: translateX(-50%) scale(0); transition: 0.5s;}
.business span{font-size: 15px; font-weight: 600; padding-top: 1rem;}
.bsIcon{display: flex;flex-direction: column; justify-content: flex-start; align-items: center;}
.bsName>a>div{width: 100%; height: 100%; background-color: rgba(39, 39, 39, 0.712); 
    position: absolute; bottom: 0; color: rgb(210, 210, 210);
    text-align: center;
}
.bsName>a>div>div{transform: translateY(80px);}
.bsName img{width: 140px;}
.bsName h3{font-size: 30px;margin: 30px 0;}

.bsImg_01 a{background-image: url(../images/business01.png);}
.bsImg_02 a{background-image: url(../images/business02.png);}
.bsImg_03 a{background-image: url(../images/business03.png);}
.bsImg_04 a{background-image: url(../images/business04.png);}
.businessImg>div:hover a{opacity: 1; top:0; transform: translateX(-50%) scale(1);}

.branch{width: 100%; height: 800px; padding-bottom: 800px;}
.branch>div{position: relative; width: 100%; height: 800px;}
.branchBox>div{position: absolute; width: 400px; height: 800px; border: 1px solid rgba(173, 173, 173, 0.801);
    text-align: center;  background-color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
    color: white;
    font-weight: 800;
    transition: 0.5s;
}
.branchBox>div:hover{background-color: rgba(24,66,173,0.5);}
.branchImg div{width: 1200px; height: 800px; position: absolute;}
.branchBox>div:nth-child(2){left: 400px;}
.branchBox>div:nth-child(3){right:0}
.branchImg>div:nth-child(1){background-image:url(../images/rebar.jpg) ;}
.branchImg>div:nth-child(2){background-image:url(../images/truck.jpg) ;}
.branchImg>div:nth-child(3){background-image:url(../images/construction.jpg) ;}
.branchName{transform: translateY(300px); font-size: 30px;}
.branchText{transform: translateY(300px); font-size: 24px; font-weight: 400;}
.branchBox span{display: block;}
.branchBox>div:hover{border: 1px solid var(--point);}

.career{padding-top: 250px;}
.slider{width: 1200px; height: 500px; position: relative; display: flex;}
.careerImg{width: 800px;}
.careerImg>div{width: 800px; height: 500px; position:absolute;}
.careerImg>div:nth-child(1){
    background-image: url(../images/crApart01.jpg); 
}
.careerImg>div:nth-child(2){
    background-image: url(../images/crStadium01.png);
}
.careerImg>div:nth-child(3){
    background-image: url(../images/crStadium02.jpg);
}
.careerImg>div:nth-child(4){
    background-image: url(../images/crHotel01.png);
}
.careerText{width: 400px; height: 500px;}
.crTop{width: 100%;height: 300px; margin-left: 15px;} 
.crTitle{height: 100px; }
.crTitle>div{
    position: absolute;
    font-size: 40px; color: var(--mainColor); 
    line-height: 100px;font-family: 'Pretendard-Medium';
}
.bar{width: 100px; height: 1px; border: 1px solid #FFEA2C;}
.crName{height: 200px; line-height: 80px;}
.crName>div{font-family: 'Pretendard-bold'; font-size: 20px; position: absolute;}
.crBottom{height: 200px; }
.crDetail{
    width: 160px;
    height: 60px;
    font-family: 'Pretendard-ExtraLight'; font-size: 25px;
    color: #1842ad; line-height: 60px; text-align: center;
    border: 1px solid var(--mainColor);
    margin-left: 15px;
    transform: translateY(0px);
    transition: 0.5s;
}
.crDetail:hover{background-color: #1842ad; color: white; font-family: 'Pretendard-regular';}
.careerBtn{
    position: absolute; width: 110%; 
    top: 50%; transform: translate( -50%, -50%); 
    left: 50%;
    display: flex; 
    justify-content: space-between;
    opacity: 0.5; }
.careerBtn>div{width: 20px;}



.news{width: 100%; margin:auto; }
.news a{ display: block; width: 350px; margin:auto; text-align: center;}
.newsContents{display: flex; }
.newsContents>div{width: 350px; margin:auto;border-top: 2px solid var(--mainColor);}
.newsContents>div:hover{border-top: 2px solid var(--point);}
.newsContents>div>a>div
{font-size:15px; font-weight: bold; text-overflow: ellipsis; 
    white-space: nowrap; overflow: hidden; word-break: keep-all;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* footer{width: 100vw; background-color: #3a3a3a;} */
.footer{
    
    width: 1200px; display: flex;color: white; height: 300px;
    background-image: url(../images/footer.png);
    margin: auto;
    background-repeat: no-repeat;
}
.footerLeft{width: 50% ;}

.footerRight{width:50%; }
.footerRightTop{padding: 10px 0;}
.footerRightTop>ul{margin-top: 50px;}
.footerRightTop>ul>li>a{display: block; width: 150px; height: 80px; text-align: center; line-height: 80px; }
.footerRightTop>ul>li>a:first-child{display: block; text-align: center; line-height: 44px;}
.footerRightTop>ul{display: flex;}
.footerRightBottom{padding-top: 1rem;}
